<div class="jumbotron">
  <div class="container padded-container">
    <h1 class="display-3">Desafio Front-End</h1>
    <p>Olá! Eu sou Heitor Costa e esta é a minha aplicação web construída para o teste da vaga para Desenvolvedor Front-End Sênior.</p>
    <p>A aplicação foi escritá em AngularJS 1.6, JavaScript ES6 (com Babel traduzindo para Vanilla), utilizando Webpack + Gulp no build, SASS para a escrita de CSS e Bootstrap para decorar o tema.</p>
    <p>Para saber mais sobre a arquitetura utilizada, acesse a <a href="https://gitlab.com/heicosta/desafio-wooza" target="_blank">documentação do teste.</a></p>

    <p>A aplicação é basicamente um CRUD, que tem seu fluxo iniciado na listagem de <b>Plataformas</b>. Escolhida uma plataforma, é apresentada uma lista de <b>Planos</b>. Finalmente, ao selecionar um Plano, é exibido um formulário básico de cadastro com Nome, E-mail, Nascimento, CPF e Telefone.</p>

    <p>Ao submeter o formulário, o resultado do envio é exibido no console, conforme orientação do teste.</p>

    <br/>

    <p><a class="btn btn-success button-start-challange btn-lg" ui-sref="app.platforms" role="button">Começar »</a></p>

  </div>
</div>

</div>