<header class="header">
  <h1></h1>
</header>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark-custom">
    <a class="logo-wooza" href="/"><img class="logo-wooza" src="http://www.wooza.com.br/imgs/logo-header.png" ></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto text-right">
        <li class="nav-item">
          <a class="nav-link" href="https://www.wooza.com.br/" target="_blank">Conheça a Wooza <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" ui-sref=".platforms">Plataformas</a>
        </li>
      </ul>
    </div>
</nav>