.bg-dark-custom {
    background-color: black !important;
}

.navbar-brand {
	width: 10px;
	height: 10px;
}

.clickable-row {
	cursor: pointer;
}

.button-start-challange {
	color: white !important;
}

.padded-container {
	padding-top: 4.5em;
}

.padded-h1 {
	padding-bottom: 0.7em;
}

.logo-wooza {
	height: 21%;
	width: 21%;
}

.wooza {
	background-image: '../assets/images/background.jpg';
}