<div class="jumbotron">
  <div class="container padded-container">
    <form id="PlanRegisterForm" ng-submit="$ctrl.submitForm()">
      <h1 class="padded-h1">Contratar Plano</h1>
      <h5>{{$ctrl.selectedPlatform.nome}}: {{$ctrl.selectedPlan.franquia}}</h5>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputEmail">Email</label>
          <input ng-model="$ctrl.contractPlanRegister.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required></input>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCpf">CPF</label>
          <input  type="text" class="form-control" id="inputCpf" placeholder="999.999.999-99"
                  ng-model="$ctrl.contractPlanRegister.cpf" required></input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputAddress">Nome</label>
          <input type="text" class="form-control" id="inputnome" placeholder="Aécio Neves Inocente" ng-model="$ctrl.contractPlanRegister.nome" required></input>
        </div>
      </div>  
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputEndereco">Endereço</label>
          <input type="text" class="form-control" id="inputEndereco" placeholder="Rua das Cucúias 123..." ng-model="$ctrl.contractPlanRegister.endereco" required></input>
        </div>
      </div>  
      <button type="submit" class="btn btn-primary">Contratar</button>
</form>
  </div>
</div>