<div class="jumbotron">
  <div class="container padded-container">
    <div class="row">
      <h1 class="padded-h1">Plataformas</h1>
      <table class="table table-sm table-hover table-striped">
          <caption>Escolha um dos resgistros acima e clique para listar seus respectivos Planos</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="platform in $ctrl.platforms" ng-click="$ctrl.platformSelected(platform)" 
          class="clickable-row">        
            <td ng-bind="platform.sku"></td>
            <td ng-bind="platform.nome"></td>
            <td ng-bind="platform.descricao"></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>