<div class="jumbotron">
  <div class="container padded-container">
    <div class="row">
      <h1 class="padded-h1">Plataformas ({{$ctrl.selectedPlatform.nome}})</h1>
      <table class="table table-sm table-hover table-striped">
          <caption>Escolha um dos resgistros acima e clique para listar seus respectivos Planos</caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Franquia</th>
              <th scope="col">Valor</th>
              <th scope="col">Ativo/Inativo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="plan in $ctrl.plans" ng-repeat="platform in $ctrl.platforms" 
                ng-click="$ctrl.selectPlan(plan)" class="clickable-row">
              <td ng-bind="plan.sku"></td>
              <td ng-bind="plan.franquia"></td>
              <td ng-bind="plan.valor"></td>
              <td ng-bind="plan.ativo ? 'Ativo' : 'Inativo'"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>